<!-- <div class="jumbotron text-center">
	<h1>{{model.length}}</h1>
	la accion create se define en el controlador controllers/lists.js
	<form {{action "create" on="submit"}}>
		{{input type="text" class="form-control" value=listTitle placeholder="Nombre de la lista..."}}
		{{input type="submit" class="btn btn-success" value="Crear lista"}}
	</form>
</div> -->

<div class="lists-container">
	<div class="infinite-width lists">

		{{#each model as |list|}}
			{{#dashboard-list list=list action="addItem" }} {{/dashboard-list}}
		{{/each}}

		<div class="new-list">

			<form {{action "create" on="submit"}}>
				{{input type="text" class="form-control" value=listTitle placeholder="Nombre de la lista..."}}
				{{input type="submit" class="btn btn-success" value="Crear lista"}}
			</form>

		</div>

	</div>

</div>
